<!DOCTYPE html>
<html>
<head>
  <title>P.E. Banfield</title>
  <link rel="shortcut icon" href="/img/ibeam.ico" />
  <link rel="stylesheet" href="/css/home.css" type="text/css"/>
</head>
<body>
  <div id="contentContainer">
    {{> page/header }} 
    {{{body}}}
    {{> page/footer }}   
  </div>
</body>
</html>