<div id="homeContent">
   <div id="contentLeft"> 
    <div class="intro">
     <p><b>This is the portfolio of Peter Emonds-Banfield. 
     I am an experienced Software Engineer with a background in User Experience
     design and Product Development. </b><br/><br/>
    <br/> My current technical expertise is focused within the following areas : </p>
     <ul>
      <li>Web Application Development</li>
      <li>UX&D and Interaction Design</li>
      <li>Streaming Video</li>
      <li>HTML5</li>
      <li>UX&D</li>
      <li>Desktop &amp; Mobile</li>
      <li>Embedded applications</li>
     </ul>
     <blockquote>"We shape our tools and then our tools shape us."<br/><br/><i> - Marshall McLuhan</i></blockquote>
    </div>
   </div>
   <div id="dividerContainer">
     <div id="divider"></div>
   </div>
   <div id="contentRight">
    <div class="item">
      <h2><a href="./nowtv">Featured Project : NowTV on PS3!</a></h2>
      <a href="./nowtv"><img src="/img/nowtv.jpg" class="highlight"></a>
      <p><a href="http://www.nowtv.com" target="_new">NowTV</a> is a Sky powered Video On Demand service and Netflix competitor. This <a href="http://en.wikipedia.org/wiki/Single-page_application" target="_new" >single-page</a> JavaScript application is built to run on the PS3 gaming console. <a href="./nowtv">Read More&#46;&#46;&#46;</a></p>
     
    </div>

</div>