<div id="homeContent">
   <div id="contentLeft"> 
    <div class="about">
     <p>I am currently seeking senior level opportunities. In my ideal role I will contribute to product design and 
     prototyping. I am happiest in a team environment working at the intersection of software design and development.</p>
    </div>
   </div>
   <div id="dividerContainer">
     <div id="divider"></div>
   </div>
   
   <div id="contentRight">
   <div class="contact">
     <dl class="contactList">
      <dt class="contactItem"><span class="highlight">email : </span>pebanfield at gmail dot com</dt>
      <dt class="contactItem"><span class="highlight">mobile : </span>available following email contact</dt>
      <dt class="contactItem">Based in Seattle, Washington</dt>
    </dl>
   </div>
  </div>
</div>
