<div id="homeContent">
   <div id="contentLeft"> 
    <div class="intro">
     <p><b>This is the portfolio of Peter Emonds-Banfield. 
     I am an experienced Software Engineer with a background in User Experience
     design and Product Development. </b><br/><br/>
    <br/> My current technical expertise is focused within the following areas : </p>
     <ul>
      <li>Web Application Development</li>
      <li>Javascript (Node JS & Client Frameworks)</li>
      <li>UX&D and Interaction Design</li>
      <li>Desktop &amp; Mobile</li>
      <li>Test & Build Automation</li>
     </ul>
     <blockquote>"We shape our tools and then our tools shape us."<br/><br/><i> - Marshall McLuhan</i></blockquote>
    </div>
   </div>
   <div id="dividerContainer">
     <div id="divider"></div>
   </div>
   <div id="contentRight">
    <div class="item">
      <h2><a href="./nowtv">Featured : Lingua Reader for Android</a></h2>
      <a href="./lingua"><img src="/img/lingua_portfolio_promo.jpg" class="highlight"></a>
      <p>Lingua Reader a dual text reader for the Android platform. This was a fun and challenging personal development project. </p>
      </div>
   </div>
</div>