<div id="homeContent">
   <div id="contentLeft"> 
    <div class="intro">
     <p><b>This is the portfolio of Peter Emonds-Banfield. 
     I am an experienced Software Engineer with a background in User Experience
     design and Product Development. </b><br/><br/>
    <br/> My current technical expertise is focused within the following areas : </p>
     <ul>
      <li>Web Application Development</li>
      <li>Javascript (Node JS & Client Frameworks)</li>
      <li>UX&D and Interaction Design</li>
      <li>Desktop &amp; Mobile</li>
      <li>Test & Build Automation</li>
     </ul>
     <blockquote>"We shape our tools and then our tools shape us."<br/><br/><i> - Marshall McLuhan</i></blockquote>
    </div>
   </div>
   <div id="dividerContainer">
     <div id="divider"></div>
   </div>
   <div id="contentRight">
    <div class="item">
      <h2><a href="./nowtv">Featured Project : Lingua Reader for Android</a></h2>
      <a href="./nowtv"><img src="/img/lingua_portfolio_promo.jpg" class="highlight"></a>
      <p>I've just completed development for a dual text reader for the Android platform. This was a fun and challenging personal development project. I now have a new respect for the subtle complexity involved in programming a mobile text reader.</p>
      <p><a href='https://play.google.com/store/apps/details?id=com.pebanfield.lingua&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a></p>
    </div>
   </div>
</div>