<div id="singleProject">

<h1 class="projectHeader">Lingua Reader for Android</h1>
 
 <div class="projectDetails">
    <p><img src="/img/lingua_portfolio_promo.jpg" class="highlight"><br/>Lingua Reader is a dual text translation reader for French and English. Language learning is fun using this unique translation text display. On any page simply slide your finger up or down to view both texts side by side.</div>
    <p>This was a personal project and my first experience with the Android SDK.</p>
    <p><a href='https://play.google.com/store/apps/details?id=com.pebanfield.lingua&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' width="240px" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a></p>
</div>

