<div id="singleProject">

<h1 class="projectHeader">MLS Match Day for Windows 8</h1>
 
 <div class="projectDetails">
  <p><img alt="MLS Win8 : Scores Section" src="/img/mls1.jpg"></img></p>
  <p>The full application is available for download from Windows Store.</p>
    <p><img alt="MLS Win8 : Scores Section" src="/img/mls2.jpg"></img></p>
	<p>&nbsp;</p><p>&nbsp;</p>
    <p>Match Day is the version two enhancement for the Windows 8 Major League Soccer application. The application 
    consumed data from a remote data service and displayed scores, articles and videos.</p>
	<p>During this project I quickly came up to speed on the WinJS platform and MLS product architecture and worked closely 
	with the development team at Pop Media as a senior contracting consultant. I was impressed with the quality and efficiency of project 
    management and design. We delivered a lot of new functionality within the relatively
    short 6 week development cycle.</p>
</div>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
</div>

