<div id="homeContent">

		<div class="projects">
	    <h3>Projects 2015-16</h3>
        <hr	class="proj"/>
        <h4><a href="./lingua">Lingua Reader for Android</a></h4>
        <p>A dual text language reader.</p></p>

        <ul	class="link">
            <li>Java</li>
            <li>Android SDK</li>
            <li>Node JS</li>
        </ul>
	    <hr	class="proj"/>
        <h4>Sling TV for LG and Samsung</h4>
        <p>HTML 5 Application for Live TV</p></p>

        <ul	class="link">
            <li>OOP Javascript</li>
            <li>Angular JS</li>
            <li>Node JS</li>
            <li>Test Automation</li>
        </ul>
        <hr	class="proj"/>
        <h4>Hulu LG Release</h4>
        <p>Hulu build pipeline project for increasing reach for 'Tier 2' devices.</p></p>

        <ul	class="link">
            <li>OOP Javascript</li>
            <li>Backbone JS</li>
            <li>Node JS</li>
        </ul>
            <h3>Projects 2014</h3>
        <hr	class="proj"/>
		<h4>Disney On Demand Computing v3</h4>
			<p>Message Bus based plugin architecture</p></p>

			<ul	class="link">
					<li>OOP Javascript</li>
					<li>Angular JS</li>
					<li>Node JS</li>
					<li>UX&D</li>
					<li>OpenStack API</li>
					</ul>
		<hr	class="proj"/>
		<h4>Disney On Demand Computing v2</h4>
			<p>Codebase redesign & architectural refactor</p>

			<ul	class="link">
					<li>Full stack Javascript</li>
					<li>Angular JS</li>
					<li>Node JS</li>
					<li>UX&D</li>
					<li>OpenStack API</li>
					</ul>
		<h3>Projects 2013</h3>
		<hr	class="proj"/>
		<h4>Disney On Demand Computing</h4>
			<p>An internal IAAS application</p>

			<ul	class="link">
					<li>Full stack Javascript</li>
					<li>Backbone.js</li>
					<li>Node JS</li>
					<li>Requirements gathering</li>
					</ul>
		<hr	class="proj"/>
		<h4><a href="./mls">Windows 8 MLS Application</a></h4>
			<p>The v2 WinJS based MLS application</p>

			<ul	class="link">
					<li>OOP Javascript</li>
					<li>WinJS API development</li>
					</ul>
		<h3>Projects 2012</h3>
		<hr	class="proj"/>
		<h4><a href="./nowtv">NowTV - powered by Sky</a></h4>
			<p>High Volume VOD Streaming on Sony PS3</p>

			<ul	class="link">
					<li>Application design</li>
					<li>OOP Javascript</li>
					<li>QUnit Unit Testing</li>
					</ul>
		<hr	class="proj"/>
		<h4>Amazon Instant Video</h4>
			<p>Streaming Analytics Implementation</p>

			<ul	class="link">
					<li>Integration of Amazon Analytics</li>
					<li>OOP Javascript</li>
					<li>HTML/CSS</li>
					<li>QUnit Unit Testing</li>
					<li>Streaming playback testing</li>
					<li>Jenkins build automation</li>
					</ul>
		<h3>Projects 2011</h3>
		<hr	class="proj"/>
			<h4><a href="./hds">BBC Adobe HDS Integration</a></h4>
			<p>Enhancement for the BBC iPlayer for broadcast scale streaming events.</p>

			<ul	class="link">
			        <li>ActionScript 3</li>
			        <li>Restful web services</li>
					<li>Integration of broadcast scale streaming library</li>
					<li>Project Planning &amp; Technical Specifications</li>
					<li>HTML/Javascript</li>
					</ul>
			<h4><a href="./iplayer">BBC iPlayer v3</a></h4>

			<ul	class="link">
					<li>Rebuild of EMP v2 for AS3 and Pure MVC</li>
					<li>Project Planning &amp; Technical Specifications</li>
					<li>UX&D</li>
                    <li>HTML/Javascript</li>
					</ul>
			<h4><a href="./newsplayer">BBC News Media Player v3</a></h4>
			<p>This project involved a complete redesign and rearchitecture of the BBC Embedded Media Player.</p>

			<ul	class="link">
					<li>Rebuild of EMP v2 for AS3 and Pure MVC</li>
					<li>Project Planning &amp; Technical Specifications</li>
                    <li>HTML/Javascript</li>
					</ul>
		<h3>Projects 2010</h3>
		<hr	class="proj"/>
		<h4>ITV Player &amp; Akamai HD</h4>
			<p>This integration project involved the enhancement of ITV player for broadcast scale streaming events.</p>

			<ul	class="link">
					<li>Integration of broadcast scale streaming library</li>
					<li>Project Planning &amp; Technical Specifications</li>

					</ul>
			<h4>BBC iPlayer &amp; Akamai HD</h4>
			<p>Integration of the Akamai HD platform for increased World Cup streaming capacity.
            </p>

			<ul	class="link">
					<li>Integration of broadcast scale streaming library</li>
					<li>Project Planning &amp; Technical Specifications</li>
					<li>Pure MVC architecture</li>
					<li>Streaming security</li>
					<li>Proprietary reporting</li>

					</ul>
					<br/>
		<h3>Projects 2009</h3>
			<hr	class="proj"/>
			<h4>BBC Future Media Technology Prototyping</h4>
			<p>Flash development &amp; interaction design for the 10ft experience.</p>

			<ul	class="link">
					<li>AS3 architecture and development.</li>
					<li>User Experience design</li><li>Interaction Design</li>

					</ul>
			
			<h4>Sky News Player</h4>
			<p>The Sky News video player includes a broad range of standard online video player features.
            </p>

			<ul	class="link">
					<li>AS3 architecture and development.</li>
					<li>Technical Project Management</li>
					<li>Helped with QA strategy and sprint planning.</li>
					<li>Prototyping &amp; design</li>

					</ul>
					<br/>
		<h3>Projects 2008</h3>
		<hr	class="proj"/>	
			<h4>Miniweb Interactive TV Prototyping</h4>
			<p>Protoyping and design work for the "lean-back" experience.</p>

			<ul	class="link">
					<li>AS3 architecture and development.</li>
					<li>User Experience design</li><li>Flash and Photoshop graphics production </li>

					</ul>
			<h4>Disney Internet Rich Media Ads Framework</h4>
			<p>A Rich Media and video streaming VAST compliant advertising framework.</p>

			<ul	class="link">
					<li>AS3 architecture and development.</li>
					<li>Contributed to concepting and product design.</li>
					<li>Helped with QA strategy and sprint planning.</li>
					<li>Sample application development.</li>
					<li>Product support for Disney BUs</li>

					</ul>
					<br/>
			
			<h3>Projects 2007</h3>
			<hr	class="proj"/>
			<h4>Disney Internet Media Player Framework</h4>
			<p>The MPF initiative at Disney Internet Group provided a unified framework for Disney Rich Media applications. </p>

			<ul	class="link">
					<li>Design and development of AS3 component framework for video applications.</li>
					<li>Architecture and core video functionality.</li>
					<li>Prototypes and sample applications.</li>
					<li>Flex Unit test suite.</li></ul>
			
			
			<h4>Halo 3 Promotional Site</h4>

			<p>The Halo 3 video game promotional site was served to over 5 million unique visitors :</p>
			<ul	class="link">
					<li>ActionScript 3 programming and architecture.</li>
					<li>participated in SCRUM based sprint planning. </li>
					<li>Interaction design</li>
					<li>Custom AS3 videoplayer</li>
					<li>ASP.NET & HTML/Javascript/CSS</li>
					</ul>

		</div>
	</div>
