
html, body {
	
  font-size: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: url("../images/gradientBG.gif");
}

a {
	text-decoration: none
}

iframe#lichenLoader {
	
	width: 100%;
	min-width: 600px;
	height: 65%;
	border: 1px solid red;
	
}

h1.projectHeader {
	
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 1.1em;
   margin-bottom: 12px
}

ul.projectDetails {

   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 0.8em;
   margin-bottom: 12px
}

h2.section {
	
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 1.1em;
   margin-bottom: 6px
}

h3.section {
	
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 1em;
   margin-top: 2px;
   margin-bottom: 18px;
   margin-left: 4px
}

h3.learn {
	
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 0.9em;
   margin-top: 2px;
   margin-bottom: 8px;
   margin-left: 4px
}

ul.rationale {
	font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    list-style: square;
    
}
ul.rationale li {
	padding-bottom: 4px;
}

div.gitExplore {
	
	padding: 8px;
	margin-bottom: 28px;
	width: 310px;
	height: 164px;
	border: 3px dashed #E8E8E8;
	
}

div.gitExplore p {
	
	width: 270px;
	margin-left: 5px;
	font-size: 1em;
}

img.gitLogo {
	
	float: right;
	position: relative;
	top: 20px;
	padding-right: 4px;
}

img.gitSample {
	
	float: left;
	padding-right: 16px;
}

.lcv {
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 10px;
}

div.viewPort {
	
	margin-top: 0px;
}

div.projectDetails {
   position: relative;
   height: 780px
}

div.projectDetails img {
	padding: 6px;
	float:left;
	margin-right: 20px;
}

div.projectDetails p {

	height: 320px;
	padding: 6px;
	margin-bottom: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
   font-weight: normal;
}

@media (max-width: 900px) {

	div.projectDetails {
       position: relative;
       padding: 10px;
       height: 1250px
   }
   
	div.projectDetails img {
	
	    clear: both;
	    padding-bottom: 8px;
	    width: 360px;
	    height: 220px;
	}
	
	div.projectDetails p {

	    display: inline;
	    width: 90%;
	    margin-bottom: 80px;
	    margin-left: 10px;
	    padding-left: 20px;
	    font-family: Verdana, Geneva, sans-serif;
	    font-size: small;
        font-weight: normal;
    }
	
}
@media (max-width: 400px) {

	div.projectDetails {

       position: relative;
       padding: 10px;
       height: 1400px
   }
   
   h1.projectHeader {
   
       font-family: Verdana, Geneva, sans-serif;
       font-weight: normal;
       font-size: 1.1em;
       margin-bottom: 12px;
       margin-left: 8px
   }

	div.projectDetails img {
	
	    clear: both;
	    padding-bottom: 8px;
	    width: 86%;
	    height: 200px;
	}
	
	div.projectDetails p {

	    display: inline;
	    width: 90%;
	    margin-bottom: 20px;
	    margin-left: 10px;
	    padding-left: 10px;
	    padding-top: 10px;
	    font-family: Verdana, Geneva, sans-serif;
	    font-size: small;
        font-weight: normal;
    }
	
}

input#loader:focus
{ 
  background-color:yellow;
}

blockquote {
	
   margin-left: 16px;
   margin-top: 30px;
   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 0.75em;
}
div#lichenLogo {
	
	position: absolute;
	border: 0px;
	top: 44px;
	z-index: 1;

}

div#lichenLogo img   {
	
	border: none;
}

div#nav {

  position:absolute;
  width: 100%;
  height: 30px;
  top: 86px;
  
}

a.nav {

  font-family: Verdana, Geneva, sans-serif;
  color: black;
  text-decoration: none
}

a.nav:hover {

  font-family: Verdana, Geneva, sans-serif;
  color: red;
  text-decoration: none
}

a.activeNav {

  font-family: Verdana, Geneva, sans-serif;
  color: black;
  text-decoration: underline
}

a.activeNav:hover {

  font-family: Verdana, Geneva, sans-serif;
  color: black;
  text-decoration: underline
}


div.item {

    margin-left: 80px;
}

.item h2 {

   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 1em;
}

img.highlight {

   display: block;
   border: 1px solid black;
   height: 260px;
   width: 320px;
}


.item p {

   font-family: Verdana, Geneva, sans-serif;
   font-weight: normal;
   font-size: 0.8em;
   width: 320px;
}

div#repoInput {

   width: 100%;
   margin-left: 10px;
   margin-bottom: 10px;
   margin-top: 10px;
   
}

input#repoURL {
	
	border: 1px solid black;
	width: 410px;
	font-size: 0.8em;
	color: #989997
}

#repoURL:focus {
	
	border: 1px solid #B3FA8C;
	box-shadow: 0 0 5px #B3FA8C;
    -webkit-box-shadow: 0 0 5px #B3FA8C; 
    -moz-box-shadow: 0 0 5px #B3FA8C;
}

input#launchBtn {
	
	border: 1px solid #5BCC1D;
	width: 100px;
	background: #EDECE8;
	color: #162433;
	font-size: 1em
}

input#launchBtn:hover {

	border: 1px solid #162433
}

div.about {

	margin-top: 30px;
	width: 92%;
	margin-left: 40px;
	margin-right: 20px;
	padding:1em 1em 5em; /* bottom padding for footer */
}

.about p {
	
	font-family: Arial, Geneva, sans-serif;
	font-size: 0.9em;
	line-height: 140%;
	margin-left: 0px;
	margin-right: 22px;
	margin-top: 14px;
	padding:0 1em;
	
}

.about img {
	
	border: 1px solid black;
	float: right;
	padding: 4px;
	margin-left: 18px;
}

span.highlight {
	
	font-weight: bold
}

div.footer {
	
	position: absolute;
	font-family: Arial, Geneva, sans-serif;
	font-size: 0.8em;
	float: right;
	width: 90%;
	bottom: 0;
}

.footer p {
	
	width: 100%;
	text-align: right;
}

ul.link {
	
	font-size: 1em;
}

hr.proj {
	width: 100%
}

div.projects {
	
	font-family: Arial, Geneva, sans-serif;
	font-weight: normal;
	font-size: 0.8em;
	margin-left: 11%;
	margin-right: 11%;
}

div.launch {
	
	margin-left: 20px;
}

#preload {
	display: none;
}

#install {
	
	position: relative;
	font-family: Arial, Geneva, sans-serif;
	top: 50px;
}

dl.sectionLinks {
	
	font-size: 0.8em;
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 2px;
	width: 250px;
	
}

dl.sectionLinks dt {
	
	padding: 2px;
	padding-top: 14px;
}

img.design {
	
	float: right;
	padding: 8px;
	margin-right: 12px;
	vertical-align: top;
}

div.lichenContent p {
	
	font-family: Arial, Geneva, sans-serif;
	margin-top: 10px;
}

div.lichenContent h3 {
	
	font-family: Arial, Geneva, sans-serif;
	font-size: 0.9em;
	margin-top: 20px;
}

div.lichenContent h4 {
	
	font-family: Arial, Geneva, sans-serif;
	font-size: 0.9em;
	padding-left: 8px;
	font-style:italic;
	margin-top: 20px;
}

div.lichenContent ol {
	
	font-family: Arial, Geneva, sans-serif;
	font-size: 0.9em;
	font-style:normal;
	font-weight:bold;
	margin-top: 20px;
}

div#rightProjCol {
	position:absolute;
	float: right
}

div#leftProjCol {
	position:absolute;
	float:left
}

/* Smartphones (portrait) ----------- */
@media  only screen
and (max-width : 320px) {

	.contact {
	
	    margin-top: -50px;
	    margin-left: 10px;
	    width: 100%;
	}
	
	.contactList {
	
		text-align: left;
		margin-left: 10px;
		width: 80%;
	}
	
	.contactItem {
		
		font-family: Arial, Geneva, sans-serif;
		font-size: 0.8em;
		text-align: left;
		padding: 4px;
	}
	
    div#contentContainer {

	    position: relative;
	    width: 100%;
	    height:auto !important; /* real browsers */
	    min-height: 100%;
	    background: white;
	    margin: 0 auto;
    }
    
    div#homeContent {
	
	    text-align: left;
		width: 100%;
		height:auto !important; /* real browsers */
	    min-height: 100%;
		height: 740px;
		padding-bottom: 100px;
	}
	
	div#homeHeader {
		
	    padding: 0px;
	    margin-left: 0px;
		width: 100%;
		height: 150px;
	}
	
	div#headerBg {
	
		position: absolute;
		top: 80px;
		height: 1px;
		width: 100%;
		background: white;
		border-bottom: 1px solid black;
		box-shadow: 2px 2px 4px #E6E3E4;
		z-index: 0;
		
	}
    div.item {

        margin-left: 6px;
    }
	ul#navItems {
	   
	     width: 100%;
	     top: 0px;
	     height: 30px;
	     white-space:nowrap;
	     list-style: none;
	     margin: 0;
	     padding: 0;
	  }
	
    #navItems li {
	    float: right;
	    font-family: Verdana, Verdana, Geneva, sans-serif;
	    text-align: right;
	    font-size: 0.8em;
	    padding: 2px 1% 0px 1%;
	  }

	div#dividerContainer {
	
	    width: 0px;
	}
	
	div#divider {
	
	    height: 0px;
	    width: 0px;
	    visibility: hidden
	}
	
	div#contentLeft {
		
		width: 100%; 
	}
	
	div#contentRight {
		
		width: 100%;
	}
	
	div.intro {
	
	  font-family: Verdana, Verdana, Geneva, sans-serif;
	  font-weight: normal;
	  font-size: 1em;
	  margin-top: 4px;
	  margin-left: 4px;
	}
	
	.intro li {
	  font-family: Verdana, Verdana, Geneva, sans-serif;
	  font-weight: normal;
	  font-size: 0.8em;
	  list-style-type:square
	}
	
	.intro p {
	
	  font-family: Arial, Geneva, sans-serif;
	  font-weight: normal;
	  font-size: 0.8em;
	  margin-left: 4px;
	  margin-top: 4px;
	  width: 90%;
	}
	
	.item img {
	
	  max-width: 94%;
	  height: auto;
	  width: auto\9; /* ie8 */
	  border: 1px solid black
	}
	
	div.about {

	    margin-top: 6px;
	    width: 100%;
	    margin-left: -16px;
	    margin-right: 10px;
	    padding:1em 1em 5em; /* bottom padding for footer */
    }

    .about p {
	
	    font-family: Arial, Geneva, sans-serif;
	    font-size: 0.9em;
	    line-height: 140%;
	    margin-left: 0px;
	    margin-right: 12px;
	    margin-top: 14px;
	    padding:0 1em;
	
    }

    .about img {
	
	    border: 1px solid black;
	    padding: 2px;
	    margin-left: 30px;
	    margin-right: 30px;
	    margin-bottom: 18px;
    }
  
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px)
and (max-width : 480px){

	.contact {
	
	    margin-top: -50px;
	    margin-left: 62px;
	    width: 100%;
	}
	
	.contactList {
	
		text-align: left;
		
	}
	
	.contactItem {
		
		font-family: Arial, Geneva, sans-serif;
		font-size: 0.8em;
		text-align: left;
		padding: 12px;
	}
	
    div#contentContainer {

	    position: relative;
	    width: 86%;
	    height:auto !important; /* real browsers */
	    min-height: 100%;
	    background: white;
	    margin: 0 auto;
    }
    
	div#homeHeader {
		
		position: relative;
	    padding: 0px;
	    margin-left: 0px;
		width: 90%;
		height: 150px;
	}
	
	div#headerBg {
	
		position: absolute;
		top: 80px;
		height: 1px;
		width: 100%;
		background: white;
		border-bottom: 1px solid black;
		box-shadow: 2px 2px 4px #E6E3E4;
		z-index: 0;
		
	}

	ul#navItems {
	   
	     width: 100%;
	     top: 0px;
	     height: 30px;
	     white-space:nowrap;
	     list-style: none;
	     margin: 0;
	     padding: 0;
	}
	
	#navItems li {
	    float: right;
	    font-family: Verdana, Verdana, Geneva, sans-serif;
	    text-align: right;
	    font-size: 0.8em;
	    padding: 2px 1% 0px 1%;
	}
	  
    div#homeContent {
    
	    text-align: left;
		width: 90%;
		top: 130px;
		padding-bottom: 100px;
	}
	div.item {

        margin-left: 6px;
    }
	div#dividerContainer {
	
	    width: 0px;
	}
	
	div#divider {
	
	    height: 0px;
	    width: 0px;
	    visibility: hidden
	}
	
	div#contentLeft {
		
		width: 100%; 
	}
	
	div#contentRight {
		
		width: 100%;
	}
	
	div.intro {
	
	  font-family: Verdana, Verdana, Geneva, sans-serif;
	  font-weight: normal;
	  font-size: 1em;
	  margin-top: 4px;
	  margin-left: 4px;
	}
	
	.intro li {
	  font-family: Verdana, Verdana, Geneva, sans-serif;
	  font-weight: normal;
	  font-size: 0.8em;
	  list-style-type:square
	}
	
	.intro p {
	
	  font-family: Arial, Geneva, sans-serif;
	  font-weight: normal;
	  font-size: 0.8em;
	  margin-left: 4px;
	  margin-top: 4px;
	  width: 80%;
	}
	
	.item img {
	
	  max-width: 100%;
	  height: auto;
	  width: auto\9; /* ie8 */
	  border: 1px solid black
	}
	
	
}
@media only screen
and (min-width: 481px)
and (max-width: 1060px){
	
	.contact {
	
	    margin-top: -50px;
	    margin-left: 62px;
	    width: 100%;
	}
	
	.contactList {
	
		text-align: left;
		
	}
	
	.contactItem {
		
		font-family: Arial, Geneva, sans-serif;
		font-size: 0.8em;
		text-align: left;
		padding: 12px;
	}
	
    div#contentContainer {

	    position: relative;
	    width: 86%;
	    height:auto !important; /* real browsers */
	    min-height: 100%;
	    background: white;
	    min-width: 401px;
	    margin: 0 auto;
    }
	div#homeHeader {
		
	    padding: 0px;
	    margin-left: 0px;
		top: 20px;
		width: 100%;
		height: 170px;
		max-width: 1000px;
		min-width: 401px;
	}
	
	div#headerBg {
	
		position: absolute;
		top: 80px;
		height: 1px;
		width: 100%;
		max-width: 1000px;
		background: white;
		border-bottom: 1px solid black;
		box-shadow: 2px 2px 4px #E6E3E4;
		z-index: 0;
		
	}
	
	  ul#navItems {
	   
	     width: 90%;
	     top: 0px;
	     height: 30px;
	     white-space:nowrap;
	     min-width: 400px;
	     list-style: none;
	     margin: 0;
	     padding: 0;
	     float: right;
	  }
	
	  #navItems li {
	    float: right;
	    font-family: Verdana, Verdana, Geneva, sans-serif;
	    text-align: right;
	    font-size: 0.8em;
	    padding: 4px 2% 0px 2%;
	  }
	  
	  div#homeContent {
	  
	    text-align: left;
		width: 100%;
		top: 180px;
		padding-bottom: 100px;
	}
	
	div.item {

        margin-left: 12px;
    }
    
	div#dividerContainer {
	
	    width: 0px;
	}
	
	div#divider {
	
	    height: 0px;
	    width: 0px;
	    visibility: hidden
	}
	
	div#contentLeft {
		
		width: 100%; 
	}
	
	div#contentRight {
		
		width: 100%;
	}
	
	div.intro {
	
	  font-family: Verdana, Verdana, Geneva, sans-serif;
	  font-weight: normal;
	  font-size: 1em;
	  margin-top: 4px;
	  margin-left: 4px;
	}
	
	.intro li {
	  font-family: Verdana, Verdana, Geneva, sans-serif;
	  font-weight: normal;
	  font-size: 0.8em;
	  list-style-type:square
	}
	
	.intro p {
	
	  font-family: Arial, Geneva, sans-serif;
	  font-weight: normal;
	  font-size: 0.8em;
	  margin-left: 4px;
	  margin-top: 4px;
	  width: 80%;
	}
	
	.item h2 {

	   font-family: Verdana, Verdana, Geneva, sans-serif;
	   font-weight: normal;
	   font-size: 1em;
	   margin-top: 30px;
	}

  
}
@media (min-width: 1061px) {

	.contact {
	
	    margin-top: 50px;
	    width: 100%;
	}
	
	.contactList {
	
		text-align: left;
		
	}
	
	.contactItem {
		
		font-family: Arial, Geneva, sans-serif;
		font-size: 0.8em;
		text-align: left;
		padding: 12px;
	}

	div#contentContainer {
	
	    position: relative;
	    width: 86%;
	    height:auto !important; /* real browsers */
        min-height: 100%;
        height: 100%;
	    background: white;
	    min-width: 700px;
	    max-width: 1000px;
	    margin: 0 auto;
	}
	div#homeHeader {
		
	    padding: 0px;
	    margin-left: 0px;
		width: 100%;
		height: 180px;
		max-width: 1000px;
		min-width: 700px;
	}
	
	div#headerBg {
	
		position: absolute;
		top: 80px;
		height: 1px;
		width: 100%;
		max-width: 1000px;
		background: white;
		border-bottom: 1px solid black;
		box-shadow: 2px 2px 4px #E6E3E4;
		z-index: 0;
		
	}
	
	div#homeContent {
	  
	    text-align: left;
		width: 100%;
		top: 180px;
		padding-bottom: 480px;
	}
	
	ul#navItems {
	   
	     width: 90%;
	     top: 0px;
	     height: 30px;
	     white-space:nowrap;
	     min-width: 400px;
	     list-style: none;
	     margin: 0;
	     padding: 0;
	     float: right;
	}
	
	#navItems li {
	    float: right;
	    font-family: Verdana, Geneva, sans-serif;
	    text-align: right;
	    font-size: 0.8em;
	    padding: 4px 4% 0px 4%;
	}
	  
	div#homeContent {
	  
	    text-align: left;
		width: 100%;
		top: 160px;
	}
	
	div#dividerContainer {
	
	    width: 5%;
	    margin-top: 60px;
	    float: left;
	}
	
	div#divider {
	
	    height: 140px;
	    width: 50%;
	    background: white;
	    border-right: 1px dotted black; 
	}
	
	div#contentLeft {
		
		float: left;
		width: 50%; 
		max-width: 400px;
	}
	
	div#contentRight {
		
		float: left;
		width: 46%;
	}
	div.lichenLeft {
		
		float: left;
		width: 55%; 
	}
	
	div.lichenRight {
		
		float: right;
		width: 40%;
	}
	
	div.lichenContent {
	
	    clear: both;
	    
	    margin-left: 20px;
	    top:50px;
	}
	
	div.intro {
	
	  font-family: Verdana, Geneva, sans-serif;
	  font-weight: normal;
	  font-size: 1em;
	  margin-top: 10px;
	  margin-left: 10px;
	}
	
	.intro li {
	  font-family: Verdana, Geneva, sans-serif;
	  font-weight: normal;
	  font-size: 0.8em;
	  list-style-type:square
	}
	
	.intro p {
	
	  font-family: Arial, Geneva, sans-serif;
	  font-weight: normal;
	  font-size: 0.8em;
	  margin-left: 20px;
	  margin-top: 50px;
	  width: 80%;
	}
	
}