<!DOCTYPE html>
<html>
<head>
    <title>P.E. Banfield</title>
    <link rel="shortcut icon" href="/img/ibeam.ico" />
   <link rel="stylesheet" href="/css/home.css" type="text/css"/>
</head>
<body>
  <div id="contentContainer">
    <% include ../partials/header %> 
    <%if (activeItem.name === 'home') { %>
      <% include ../pages/content/home %>
    <% } %>
    <%if (activeItem.name === 'about') { %>
      <% include ../pages/content/about %>
    <% } %>
    <%if (activeItem.name === 'contact') { %>
      <% include ../pages/content/contact %>
    <% } %>
    <%if (activeItem.name === 'projects') { %>
      <% include ../pages/content/projects %>
    <% } %>
    <% include ../partials/footer %>   
  </div>
</body>
</html>