<div id="homeHeader">
  <div id="lichenLogo"><a href="."><img src="/img/ibeamHeaderLogo.gif" /></a></div>
  <div id="headerBg"></div>
  <div id="nav">
    <ul id="navItems">
      <% navItems.forEach(function(item) { %>
        <%if (activeItem.name === item.name) { %>
          <li><a class="activeNav" href="/<%= item.name %>"><%= item.name %></a></li>
        <% } else { %>
          <li><a class="nav" href="/<%= item.name %>"><%= item.name %></a></li>
        <% } %>
        <%if (item.name != 'home') { %>
          <li>|</li>
        <% } %>
       <% }); %>
    </ul>
  </div>
</div>