<div id="homeContent">
   <div id="contentLeft"> 
    <div class="about">
     <p>I've recently returned to Seattle, Washington after 4.5 years working abroad in London, UK.  I am currently looking for contract or permanent work.</p>
    </div>
   </div>
   <div id="dividerContainer">
     <div id="divider"></div>
   </div>
   
   <div id="contentRight">
   <div class="contact">
     <dl class="contactList">
      <dt class="contactItem"><span class="highlight">email : </span>pebanfield at gmail dot com</dt>
      <dt class="contactItem"><span class="highlight">mobile : </span>available following email contact</dt>
      <dt class="contactItem">Based in Seattle, Washington</dt>
    </dl>
   </div>
  </div>
</div>
