<div id="singleProject">

<h1 class="projectHeader">BBC Adobe HDS Integration</h1>
  
  <div class="projectDetails">  
   <p><img alt="BBC Sports Player" src="/img/bbcSportsPlayer.jpg"></img><br/>While consulting for Akamai I integrated the Akamai HD streaming component library into the BBC iPlayer to support increased network capacity requirements. Later I continued my work as a BBC team lead for the Embedded Media Player team in the Future Media Technology division. The Adobe HDS integration was a continuation of this earlier integration work. To integrate the Adobe HDS component library I worked closely with the Adobe engineering team. It was necessary to integrate some early BBC specific builds of the OSMF Adobe streaming library.<br/><br/>
   The Adobe HDS integration was critical for supporting efforts to scale BBC streaming infrastructure. During the World Cup for example, the BBC streaming client served over 1 million concurrent client streams and broke the U.K. record for network bandwidth consumption. The client application code module was a highly complex component with a high potential to cause regression in the codebase. The integration work also included some new test automation and streaming analytics enhancements to ensure that playback experience was not degraded.</p>
  </div>

</div>

